@import "_vars";
@import "_global";
@import "_fonts";

//stast header
.header {
  background-color: $white;
  width: 100%;
  &_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: $header-top-bg;
  }

  &_top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    transition: all 0.6s;
  }

  &_top-inner.sticky {
    height: 45px;
  }

  &_box--left,
  &_box--right {
    display: flex;
    align-items: center;
  }

  &_box--left {
    padding-right: 400px;
  }

  &_logo {
    font-size: 24px;
    & span {
      @include f800;
      margin-right: 5px;
    }
  }

  &_menu {
    margin-left: 40px;
    & ul {
      display: flex;
    }

    & ul li {
      margin-left: 48px;
      position: relative;
    }

    & ul li::before {
      content: "";
      position: absolute;
      bottom: -33px;
      left: -20px;
      width: 100px;
      height: 0;
      background-color: $black;
      transition: all 0.4s;
    }

    & ul li:hover::before {
      height: 3px;
    }

    & ul li a {
      font-size: 14px;
      @include f600;
    }
  }

  &_text {
    & a {
      font-size: 14px;
      @include f600;
    }

    & .header_phone {
      margin-right: 48px;
      transition: all 0.3s;
    }

    & .header_phone:hover {
      color: $hoverText;
    }

    // icon-search
    & .menu-item {
      transform: scale(1);
      transition: all 0.5s;
    }

    & .menu-item.hide-item {
      transform: scale(0);
    }

    &:nth-child(2) .menu-item.hide-item {
      transition-delay: 0.6s;
    }

    &:nth-child(3) .menu-item.hide-item {
      transition-delay: 0.5s;
    }

    &:nth-child(2) .menu-item {
      transition-delay: 0.1s;
    }

    &:nth-child(3) .menu-item {
      transition-delay: 0.2s;
    }
  }

  &_btn {
    display: flex;
    &-menu {
      margin-left: 30px;
    }
  }

  &_search-form {
    position: absolute;
    top: 23px;
    left: 60%;
    transform: translateX(0%);
    width: 600px;
    height: 44px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    &.aсtive {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.5s;
      transform: translateX(-50%);
    }

    & input {
      width: 100%;
      height: 44px;
      background: transparent;
      color: $text;
      border: 1px solid $text;
      outline: none;
      font-size: 16px;
    }

    &::before {
      content: "\f002";
      font-family: "icomoon";
      position: absolute;
      top: 12px;
      left: -26px;
      font-size: 18px;
      color: $text;
    }
  }
}

.close {
  height: 44px;
  font-size: 18px;
  line-height: 44px;
  color: $text;
  text-align: right;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;

  &::before {
    content: "\f00d";
    font-family: "icomoon";
    font-style: 16px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
// end header

// start categories
.categories {
  padding-top: 100px;
  position: relative;

  &_inner {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
    overflow: hidden;

    &--left ul,
    &--right ul {
      display: flex;
    }

    &--left ul li,
    &--right ul li {
      padding: 0 14px;
      height: 80px;
    }

    &--left ul li a,
    &--right ul li a {
      transform: matrix(1, 0, 0, 1, 25) !important;
      transition: all 0.4s;
    }

    &--left ul li a:hover,
    &--right ul li a:hover {
      @include f600;
    }

    & ul li a {
      position: relative;
    }

    &-submenu.categories_submenu {
      background-color: $peach;
      position: absolute;
      left: 0;
      top: 180px;
      width: 100%;
      overflow: hidden;
      height: 0;
      transition: all 0.5s;
      z-index: 1;
    }

    &-submenu .categories_submenu-items {
      display: flex;
      align-items: center;
      margin-left: 20.6%;
    }

    &-submenu .categories_submenu-items .categories_submenu-item {
      padding-right: 60px;
      position: relative;
    }

    &-submenu .categories_submenu-items .categories_submenu-item::before {
      content: "";
      position: absolute;
      top: 10px;
      right: 20px;
      border: 2px solid $black;
      background-color: $black;
      border-radius: 50%;
    }

    &-submenu
      .categories_submenu-items
      .categories_submenu-item:last-child::before {
      border: none;
    }
  }
}
.categories_inner
  .categories_menu-list
  li:hover
  .categories_inner-submenu.categories_submenu {
  height: 120px;
}
// end categories

// start slider
.slider {
  &_item {
    max-width: 1920px;
    width: 100%;
    position: relative;

    &-img {
      min-height: 787px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;
    }

    &-info {
      width: 480px;
      position: absolute;
      top: 200px;
      left: 150px;
    }

    &-dots {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 110px;
      align-items: center;
      padding-left: 12.5vw;
      border-top: 1px solid hsla(0, 0%, 100%, 0.3);
      display: flex;
    }

    &-dots--left {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 160px;
      width: 100%;
      height: 110px;
      border-right: 1px solid hsla(0, 0%, 100%, 0.3);
    }

    &-dots-total {
      position: absolute;
      bottom: 30px;
      left: 71px;
      color: $white;
    }
  }

  &_suptitle {
    color: $white;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 27px;
  }

  &_title {
    color: $white;
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 37px;
  }

  &_btn {
    display: inline-block;
    padding: 11.5px 23px;
    @include f600;
    font-size: 14px;
    line-height: 1.215px;
    color: $hoverText;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.1s;
  }

  &_btn:hover {
    background-color: transparent;
    color: $white;
    box-shadow: none;
  }
}

.slick-dots {
  position: absolute;
  bottom: 68px;
  left: 65px;

  & li {
    display: none;
  }

  & .slick-active {
    display: block;
    position: relative;
  }

  & .slick-active::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $white;
  }

  & li button {
    border: none;
    background-color: transparent;
    color: $white;
    font-size: 16px;
  }
}
//end slider

// start sales-leaders
.sales-leaders {
  padding: 100px 0px;

  &_title {
    text-align: center;
    margin-bottom: 20px;
  }

  &_subtitel {
    text-align: center;
    margin-bottom: 50px;
  }

  &_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &_inner {
    padding: 30px;
    transition: all 0.3s;

    & .sales-leaders_hidden {
      opacity: 0;
      transition: all 0.3s;
    }

   
  }

  &_discount {
    text-align: right;
    position: relative;
    z-index: 1;

    & span {
      @include f600;
      padding-left: 10px;
      z-index: 100;
    }

    &-square {
        position: absolute;
        top: -18px;
        right: 0;
        width: 54px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;

        & span:nth-child(1) {
            width: 100%;
            height: 100%;
            border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
            transition: all 0.5s;
            animation: animate 6s linear infinite;
            background-color: rgb(116, 135, 137);
        }
    }
  }

  &_description,
  &_price {
    text-align: center;
  }

   &_description {
     font-size: 20px;
     line-height: 1.6;
     max-width: 263px;
     width: 100%;
     margin: 0 auto;
     margin-bottom: 8px;
   }

   &_price {
    display: flex;
    justify-content: center;

    &--new {
      @include  f600;
      padding-right: 25px;
    }

    &--old {
      text-decoration: line-through;  
    }
   }

   &_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 15px 0px;

    & .bottom-buy {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      padding: 7px 14px 7px 0px;
      border: none;
      border-radius: 60px;
      background-color: rgb(237, 235, 233, 0.5);
      box-shadow: none; 
      cursor: pointer;
      transition: all 0.3s;
      text-decoration: none;
      outline: none;
    }

    & .bottom-buy:hover {
      background-color: $peach; 
    }
   }

   &_text {
    font-size: 14px;
    @include f600;
    margin-left: 28px;
    mask-repeat: 10px;
  }

  &_icon {
    border-radius: 50%;
    position: relative;
    margin-left: 10px;
  }

  &_icon::before {
    font-size: 20px;
    padding: 5px;
    background-color: $white;
    border-radius: 50%;
  }

   &_inner:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    & .sales-leaders_hidden {
        opacity: 1;
    }
   }

   &_buy {
    font-size: 13px;
    margin-left: 30px;
    text-align: center;
    color: darkgray;
    cursor: pointer;
    transition: color 0.3s, border 0.3s ease;
    position: relative;
   }

   &_buy::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $underline;
   }

   &__buy:hover {
    color: $text;
   }

   &_buy:hover::before{
    background-color: $text;
   }

   &_loadMore{
    font-size: 14px;
    line-height: 1.715;
    @include f600;
    max-width: 1440px;
    width: 100%;
    padding: 15px 0px;
    border: 1px solid $underline;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
   }

   &_loadMore::after {
    content: '+';
    position: absolute;
    padding-left: 20px;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
   }

  &_loadMore:hover{
    border: 1px solid $text;
  }
}

// кольчество карточек до нажития кнопки Load more
#boxs .box:nth-child(n + 5) {
  display: none;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
// end sales-leaders
